.success-box {
  max-width: 90vw;
  width: 400px;
  margin: auto;
  background: #fff;
  outline: black solid 4px;
}

.success-header {
  text-align: center;
  color: green;
  font-size: 50px;
}

.success-text {
  text-align: center;
}


@media (min-width: 600px) {
  .form-box {
    max-width: 400px;
  }
}
