.form-box {
  max-width: 90vw;
  width: 400px;
  margin: auto;
  background: #fff;
  outline: black solid 4px;
}

.form-box.disabled,
.form-input.disabled,
.disabled
{
  cursor: not-allowed;
  opacity: 0.5;
}

.form-header {
  text-align: center;
}

.form-input-box {
  margin: 1rem;
}

.submit-button {
  margin-top: 2rem;
}

.form-input {
  display: block;
  width: 90%;
}


.errors {
  color: red;
}
.error-message {
  padding: 0.5rem 0 0 2rem;
  margin: 0;
}
