body {
  margin: 0;
}

.btn {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn-success {
  background: green;
  color: #fff;
}
.btn-primary {
  background: blue;
  color: #fff;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.btn-primary:hover {
  outline: 1px solid #0099cc;
  background-color: #00aacc;
  color: #ffffff;
}

.btn-primary:disabled,
.btn-primary[disabled]{
  outline: 1px solid #000000;
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}


.btn-success:hover {
  outline: 1px solid #008000;
  background-color: #31ab31;
  color: #ffffff;
}
